@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color: #1b1b1b;
  --background: whitesmoke;
  --primary: white;
  --secondary: #92E3A9;
  --footer-l: #F7F8FA;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background-color: var(--background);
}

.container {
  width: 50%;
  margin: 0 auto;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70px;
  align-items: center;
}

.navbar>a {
  color: var(--color);
  text-decoration: none;
}

.navbar_border {
  border-bottom: 1px solid #80808012;
}

.navbar_lr {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.navbar_l,
.navbar_r {
  text-decoration: none;
  color: var(--color);
}

.navbar_r {
  color: var(--background);
  background-color: var(--color);
  padding: 5px 20px;
  border-radius: 20px;
}

.navbar_social {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
}

.navbar_social>a {
  display: flex;
  color: var(--color);
}

.navbar_title {
  font-size: 1.6rem;
  text-align: center;
}

.navbar_breadcrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.breadcrumb_button>button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.breadcrumb_ox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.breadcrumb_ox>a {
  text-decoration: none;
  color: var(--color);
}

.breadcrumb_oxDesc {
  font-size: 0.8rem;
  opacity: 50%;
}

.trending_boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px 0;
}

.trending_box {
  padding: 15px;
  border-radius: 7px;
  background-color: var(--color);
  color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trending_cat {
  color: var(--color);
  text-decoration: none;
  background-color: #92ff77ed;
  padding: 1px 4px;
  border-radius: 5px;
  font-size: 0.56rem;
  width: fit-content;
  font-weight: 600;
  text-transform: uppercase;
}

.feature {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 8px;
  margin-bottom: 20px;
}

.feature_img {
  width: 100%;
  border-radius: 8px;
}

.feature_title {
  text-decoration: none;
  color: var(--color);
  font-size: 2rem;
  line-height: 40px;
}

.feature_cat {
  text-decoration: none;
  color: black;
  background-color: var(--background);
  padding: 2px 10px;
  border-radius: 7px;
  font-size: 0.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.feature_author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.feature_author_avatar {
  width: 35px;
  border-radius: 100%;
}

.author_desc>div {
  line-height: 17px;
  font-size: 0.9rem;
}

.feature_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature_continue {
  padding: 10px 0;
}

.feature_continue>a {
  text-decoration: none;
  color: var(--color);
  text-transform: uppercase;
  font-size: 0.9rem;
}

.feature_desc {
  opacity: 50%;
}

.dim_i {
  opacity: 50%;
  font-style: italic;
}

.feature_date {
  opacity: 50%;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 20px;
}

.blog {
  padding: 10px;
  background-color: var(--primary);
  border-radius: 7px;
}

.blog_title {
  font-size: 1.5rem;
  color: var(--color);
  line-height: 27px;
}

.author_desc {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.blog_cat {
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--background);
  padding: 1px 5px;
  border-radius: 7px;
  color: var(--color);
  font-weight: 300;
}

.blog_body {
  font-size: 0.9rem;
  opacity: 50%;
}

.blog_footer {
  padding-top: 10px;
}

.blog_footer>a {
  text-decoration: none;
}

.blog_continue>a {
  text-decoration: none;
  color: var(--color);
  opacity: 50%;
}

.blog_continue {
  padding: 3px 0;
}

.feature_auth {
  line-height: 16px;
}

.feature_continue_main {
  opacity: 50%;
}

.older_blogs {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.older_blogs>a {
  text-decoration: none;
  background-color: var(--color);
  color: var(--background);
  padding: 5px 20px;
  border-radius: 25px;
}

.trending_timeline {
  font-size: 0.9rem;
  opacity: 50%;
}


footer {
  background-color: var(--footer-l);
  padding: 30px 0 40px 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.footer_header {
  line-height: 22px;
  padding-bottom: 10px;
}

.footer_header>p {
  text-transform: uppercase;
  opacity: 50%;
  font-size: 0.8rem;
}

.footer_cat {
  font-size: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--background);
  background-color: var(--primary);
  padding: 2px 10px;
  border-radius: 7px;
  font-weight: 500;
}

.footer_article_header {
  font-size: 1.125rem;
  line-height: 18px;
  padding: 5px 0 10px 0;
}

.footer_author {
  font-size: 0.75rem;
}

span.footer_article_date {
  opacity: 50%;
}

.footer_article {
  padding-bottom: 10px;
}

.footer_browse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.footer_browse_main>hr {
  opacity: 10%;
}

.footer_browse_count {
  padding: 1.5px 10px;
  color: var(--background);
  background-color: #1b1b1b;
  border-radius: 25px;
  font-size: .8rem;
}

.footer_browse>a {
  text-decoration: none;
  color: var(--color);
}

.footer_social {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.footer_social>a {
  text-decoration: none;
  color: var(--color);
  font-size: 1.2rem;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  opacity: 50%;
  padding-top: 50px;
}


.copyright>p>a {
  text-decoration: none;
  color: var(--color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: var(--color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

.register {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
}

.register_form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.register_form>input {
  border: none;
  background-color: var(--primary);
  font-size: 1rem;
  padding: 10px;
  border-radius: 7px;
  outline: none;
}

.register_form>button {
  color: var(--background);
  background-color: var(--color);
  border: none;
  width: 200px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.profile {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  align-items: center;
  padding: 20px 0;
}

.profile_avatar {
  width: 100px;
  border-radius: 100%;
  border: 3px solid var(--primary);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 18px;
}

.avatar>h1 {
  margin-top: 15px;
}

.avatar>p {
  opacity: 50%;
}

.profile_blogs_count {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.profile_blogs_count,
.profile_follower_count {
  line-height: 20px;
}

.profile_blogs_count>h1,
.profile_follower_count>h1 {
  font-size: 1.5rem;
}

.profile_blogs_count>h4,
.profile_follower_count>h4 {
  font-weight: 300;
}

.my_blogs {
  padding: 20px 0 5px 0;
}

.profile_relatables {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.profile_relatables>button {
  background-color: var(--color);
  color: var(--footer-l);
  padding: 10px 18px;
  border-radius: 7px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.create_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.create_form_cat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create_form>input,
.create_form>textarea {
  background-color: var(--primary);
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 7px;
  outline: none;
  color: var(--color);
}

.create_form>textarea {
  font-family: "Poppins", sans-serif;
  height: 150px;
}

.create_form>button {
  font-size: 1rem;
  width: 200px;
  background-color: var(--color);
  color: var(--background);
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.create_form_cat>select {
  font-size: 1rem;
  border: none;
  padding: 5px;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

.edit_profile {
  padding: 20px 0;
}

.edit_profile_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit_profile_form>input {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  color: var(--color);
  background-color: var(--primary);
}

.edit_profile_form>button {
  width: 200px;
  font-size: 1rem;
  padding: 10px;
  border: none;
  background-color: var(--color);
  color: var(--background);
  border-radius: 7px;
  cursor: pointer;
}

.error404 {
  width: 25%;
}

.error_404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.error_404>h1 {
  font-weight: 300;
}

@media screen and (max-width: 980px) {
  .container {
    width: 80%;
  }
}